.container-fluid {
    background-image: url("../images/crystal-background.jpg");
    background-size: cover;
    margin: 0px;
    padding: 0px; 
}

.jumbotron {
    background-size: cover;
    background-color: rgb(57, 235, 21);
}
    
.jumbotron h1 {
    color: white;
    justify-items: left;
        
}
    
.instructions {
    text-align: left;
    margin-left: 440px;
       
}
    
.img-thumbnail {
    display: inline-block;    
    max-width: 100%;
    height: auto;
    padding: 4px;
    margin-bottom: 400px;
}